body {
  width: 100%;
  height: 100%;
  margin: 0;
  }
h1{
  text-align: center;
  }
nav{
  text-align: center;
  }
nav a{
  background: gray;
  }
#details{
  background: red;
  }
section#featured-property{
  text-align: center;
  }
section p{
  text-align: center;

}