body {
  width: 100%;
  height: 100%;
  margin: 0;
  }
h1{
  text-align: center;
  }
nav{
  text-align: center;
  padding: 10px;
  }
nav a{
  background: gray;
  }

section#featured-property{
  text-align: center;
  }
figcaption{
  padding-top:0px;
  text-align: center;
}
section p{
  text-align: center;
  width: 800px;

}
#details{
  background: red;
  }